<!DOCTYPE html>
<html>
<body>
    <table>
        <thead>
            <tr>
                    <th> Is Renting </th>
                    <th> Bikes available </th>
                    <th> Bikes Disabled </th>
                    <th> Docks Available </th>
                    <th> DOcks Disabled </th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
                <tr>
                    <td>{{ status.is_renting }}</td>
                    <td>{{ status.num_bikes_available }}</td>
                    <td>{{ status.num_bikes_disabled }}</td>
                    <td>{{ status.num_docks_available }}</td>
                    <td>{{ status.num_docks_disabled }}</td>
                </tr>
            {% endfor %}
         </tbody>
    </table>
</body>
</html>
